<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<div class="postcardContainer">
  <h1><%= title %></h1>
  <% if (user) { %>
  <a href="/pals/new" class="createPost">Create Post</a>
  <% } %> <% pals.forEach(pal => { %>
  <div class="card text-center postCards">
    <div class="card-header">Author: <%= pal.owner.name %></div>
    <div class="card-body">
      <h4 class="card-title"><%= pal.title %></h4>
      <p class="card-text"><%= pal.content %></p>
      <div class="postButtons">
        <a href="/pals/<%= pal._id %>">
          <button>Comment</button>
        </a>
        <% if(pal.owner.equals(user?.profile._id)) { %>
        <a href="/pals/<%= pal._id %>/edit">
          <button>Edit</button>
        </a>
        <form action="/pals/<%= pal._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="card-footer text-muted">
      <%= pal.createdAt.toLocaleString() %>
    </div>
  </div>

  <% }) %>
</div>

<%- include("../partials/footer") %>
