<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<div class="postcardContainer">
  <h1><%= title %></h1>
  <% if (user) { %>
  <a href="/pals/new">Create Post</a>
  <% } %> <% pals.forEach(pal => { %>
  <div class="card text-center postCards">
    <div class="card-header">author:</div>
    <div class="card-body">
      <h4 class="card-title"><%= pal.title %></h4>
      <p class="card-text"><%= pal.content %></p>
      <a href="#">Comment</a>
      <a href="/pals/<%= pal._id %>">See more</a>
    </div>
    <div class="card-footer text-muted">
      <%= pal.createdAt.toLocaleDateString() %>
    </div>
  </div>

  <% }) %>
</div>

<%- include("../partials/footer") %>
