<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<div class="postcardContainer">
  <h1><%= title %></h1>
  <% if (user) { %>
  <a href="/pals/new">Create Post</a>
  <% } %> <% pals.forEach(pal => { %>
  <div class="card text-center postCards">
    <div class="card-header">Author: <%= pal.owner.name %></div>
    <div class="card-body">
      <h4 class="card-title"><%= pal.title %></h4>
      <p class="card-text"><%= pal.content %></p>
      <a href="/pals/<%= pal._id %>">Comment</a>
      <% if(pal.owner.equals(user?.profile._id)) { %>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <% } %>
    </div>
    <div class="card-footer text-muted">
      <%= pal.createdAt.toLocaleString() %>
    </div>
  </div>

  <% }) %>
</div>

<%- include("../partials/footer") %>
