<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<h1><%= title %></h1>
<p>Title: <%= pal.title %></p>
<p>Author: <%= pal.owner.name %></p>

<%- include("../partials/footer") %>
